
<h1>Edit Translations</h1>

<p style="background: yellow; line-height:120%; padding: 10px; border: 1px solid black;"> Instead of removing (or renaming)
existing translations you often really want to add another entry to the
translation list. Because doing so will ensure that requests to old URLs
are redirected to their new location (a SEO friendly 301 redirect).
Especially older entries that may have already been used for links or in
indexes you will want to keep. </p>


<div style="float: left; margin-top: 10px">
  <form method="POST" action="<%= u "/edit" %>" >

    <%= partial :fields %> 

    <p>
    <input type="submit" value="Change!" />
    <a href='<%= u("/to?to=#{escape(@to)}") %>'>Cancel</a>  
    </p>

  </form>
</div>




