
<h1>+ Add Translations</h1>

<div style="float: left; margin-top: 10px">
  <form method="POST" action="<%= u "/translations" %>" >

    <%= partial :fields %>

    <p>
    <input type="submit" value="Add" />
    <a href='<%= u("/") %>'>Cancel</a>  
    </p>

  </form>
</div>


