

<h1>Create New Mapping</h1>


<div style="float: left; margin-top: 10px">
<form method="POST" action="<%= u "/mappings" %>">
  <label>From:</label><br/>  <input type="text" name="from" /> <br />
  <label>To:</label><br/>   <input type="text" name="to" value="<%= params[:to] %>" /> <br />
  <input type="submit" value="Create" />
</form>
</div>




